BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  AfterCaseLabel: true
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
AllowShortFunctionsOnASingleLine: InlineOnly
ColumnLimit: 100
DerivePointerAlignment: false
PointerAlignment: Left
SortIncludes: true
SpacesInParentheses: true
AccessModifierOffset: -4
ContinuationIndentWidth: 4
IndentWrappedFunctionNames: false
AlignAfterOpenBracket: DontAlign
IndentCaseLabels: true
