BasedOnStyle: LLVM

SortIncludes: true

ColumnLimit: 120
AllowShortFunctionsOnASingleLine: InlineOnly

# Set indentation width and tab width
IndentWidth: 5
TabWidth: 5
UseTab: Never

AccessModifierOffset: -5
ContinuationIndentWidth: 5

IndentCaseLabels: true
SpacesInParentheses: true

# Customize brace breaking style
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  AfterCaseLabel: true
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

DerivePointerAlignment: false
PointerAlignment: Left

AlignAfterOpenBracket: DontAlign

# Parameter declaration formatting
AllowAllParametersOfDeclarationOnNextLine: false
AlwaysBreakTemplateDeclarations: Yes
